accelerate==1.9.0
av==15.0.0
decord==0.6.0
diffusers==0.16.0
einops>=0.6.1
ffmpeg==1.4
imageio==2.37.0
numpy==2.1.2
imageio-ffmpeg==0.6.0
timm==1.0.17
transformers==4.33.0
xformers>=0.0.31
sentencepiece==0.2.0
rotary-embedding-torch==0.8.8
huggingface_hub==0.25.0
tqdm
pandas
omegaconf
opencv-python
scipy
pyfiglet
