torch==2.0.1
torchvision
accelerate==0.18.0
av==9.1.0
decord==0.6.0
diffusers==0.16.0
einops>=0.6.1
ffmpeg==1.4
imageio==2.25.0
numpy==1.24.3
imageio-ffmpeg==0.4.8
timm==0.4.12
transformers==4.28.1
xformers>=0.0.20
sentencepiece==0.1.99
rotary-embedding-torch==0.2.3
tqdm
pandas
omegaconf
opencv-python
scipy
pyfiglet